﻿@model TACIR.Models.WebForm
@{
    ViewBag.Title = "Index";
}

<div>
    <div class="row menu-header">
        <button class="menu-col-resize col-4 btn btn-link btn-sm text-black-50 order-1 order-sm-0" onclick="location.href = '/Home/';">
            <img class="menu-icon-size" src="../../Content/images/menu/home.png" />
            <br />
            <span class="menu-text">Ana səhifə</span>
        </button>
        @if (Model.MenuAccess.goods_sold_menu_access)
        {
            <button class="menu-col-resize col-4 btn btn-link btn-sm text-black-50 order-1 order-sm-0" onclick="location.href = '/GoodsSold/';">
                <img class="menu-icon-size" src="../../Content/images/menu/sell.png" />
                <br />
                <span class="menu-text">Satış</span>
            </button>
            <button class="menu-col-resize col-4 btn btn-link btn-sm text-black-50 order-1 order-sm-0" onclick="location.href = '/FastGoodsSold/';">
                <img class="menu-icon-size" src="../../Content/images/menu/quick sell.png" />
                <br />
                <span class="menu-text">Sürətli satış</span>
            </button>
        }
        @if (Model.MenuAccess.goods_refund_menu_access)
        {
            <button class="menu-col-resize col-4 btn btn-link btn-sm text-black-50 order-1 order-sm-0" onclick="location.href = '/GoodsRefund/';">
                <img class="menu-icon-size" src="../../Content/images/menu/return from selling.png" />
                <br />
                <span class="menu-text">Malın qaytarılması</span>
            </button>
        }
        @if (Model.MenuAccess.payment_menu_access)
        {
            <button class="menu-col-resize col-4 btn btn-link btn-sm text-black-50 order-1 order-sm-0" onclick="location.href = '/Payment/';">
                <img class="menu-icon-size" src="../../Content/images/menu/payment.png" />
                <br />
                <span class="menu-text">Ödəniş</span>
            </button>
        }
        @if (Model.MenuAccess.debt_menu_access)
        {
            <button class="menu-col-resize col-4 btn btn-link btn-sm text-black-50 order-1 order-sm-0" onclick="location.href = '/Debt/';">
                <img class="menu-icon-size" src="../../Content/images/menu/payment - refund.png" />
                <br />
                <span class="menu-text">Borcun daxil edilməsi</span>
            </button>
        }
        @if (Model.MenuAccess.jurnal_menu_access)
        {
            <button class="menu-col-resize col-4 btn btn-link btn-sm text-black-50 order-1 order-sm-0" onclick="location.href = '/Jurnal/';">
                <img class="menu-icon-size" src="../../Content/images/menu/journal.png" />
                <br />
                <span class="menu-text">Jurnal</span>
            </button>
        }
    <div class="dropdown menu-col-resize col-4 btn btn-link btn-sm text-black-50 order-1 order-sm-0">
        <div class="dropdown-toggle" data-toggle="dropdown">
            <button style="border:none; background-color:white">
                <img class="menu-icon-size" src="../../Content/images/menu/report.png" />
                <br />
                <span class="menu-text text-black-50">Hesabat</span>
            </button>
            <ul class="dropdown-menu m-1 p-2">
                <li><a onclick="location.href = '/Report/';" href="Javascript:void(0)" class="text-black-50">Hesabat</a></li>
                <li><a onclick="location.href = '/Report/SalesTargetReport/';" href="Javascript:void(0)" class="text-black-50">Satış hədəfləri üzrə hesabat</a></li>
            </ul>
        </div>
    </div>
        @*<button class="menu-col-resize col-4 btn btn-link btn-sm text-black-50 order-1 order-sm-0" onclick="location.href = '/Report/';">
            <img class="menu-icon-size" src="../../Content/images/menu/report.png" />
            <br />
            <span class="menu-text">Hesabat</span>
        </button>*@
        <button class="menu-col-resize col-4 btn btn-link btn-sm text-black-50 order-1 order-sm-0" onclick="location.href = '/Login/logOut/';">
            <img class="menu-icon-size" src="../../Content/images/menu/exit.png" />
            <br />
            <span class="menu-text">Çıxış</span>
        </button>
    </div>
    <div>
        <img class="home-center-image" src="~/Content/images/logo.png" />
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#hamburger').hide();
        resizerForHome();
        $(window).on('resize',
            function () {
                resizerForHome();
            });
    });
</script>