﻿@model TACIR.Models.WebForm
@{
    ViewBag.Title = "Index";
}

<div class="mt-2 " id="content-wrapper">
    <div class="container-fluid row justify-content-center">

        <div id="table-div-id" class="card mb-3 col-md-8" style="margin-top: 0; padding: 0; min-width:300px;">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Hesabat
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-borderless display tbl-fontSize" id="tbl-report" width="100%" cellspacing="0">

                        <tbody>
                            @foreach(var item in Model.Reports)
                            {
                            <tr>
                                <td>@item.column_value_name</td>
                                <td>@item.column_value</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted">
                <div class="row">
                    <div class="col-sm-2" style="min-width:130px;">
                        <button class="btn btn-border-color btn-block" onclick="printReport('#tbl-report')">
                            <img src="~/Content/images/buttons/printer73.png" /> Çap et
                        </button>
                    </div>
                    <div class="col-sm-2 div-btn-min-with">
                        <a href="" onclick="return false" ondblclick="javascript:window.location='/home/'" class="btn btn-border-color btn-block fontSize">
                            <img src="~/Content/images/buttons/cross66.png" /> Ləğv et
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

