﻿@model TACIR.Models.WebForm

@{
    ViewBag.Title = "SalesTargetReport";
}

<div class="mt-2 " id="content-wrapper">
    <div class="container-fluid row justify-content-center">

        <div id="table-div-id" class="card mb-3 col-md-10" style="margin-top: 0; padding: 0; min-width:300px;">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Satış hədəfi üzrə hesabat
            </div>
            <div class="card-body">
                <div>
                    <div class="form-group d-inline-block">
                        <input type="number" value="2020" name="year" id="year" class="form-control" style="max-width:100px;" />
                    </div>
                    <div class="form-group d-inline-block">
                        <select class="form-control" id="month" name="month">
                            <option value="1">Yanvar</option>
                            <option value="2">Fevral</option>
                            <option value="3">Mart</option>
                            <option value="4">Aprel</option>
                            <option value="5">May</option>
                            <option value="6">İyun</option>
                            <option value="7">İyul</option>
                            <option value="8">Avqust</option>
                            <option value="9">Sentyabr</option>
                            <option value="10">Oktyabr</option>
                            <option value="11">Noyabr</option>
                            <option value="12">Dekabr</option>
                        </select>
                    </div>
                    <div class="form-group d-inline-block">
                        <button type="button" class="btn btn-primary form-control" style="display:block !important" onclick="getSalesTargetReport()">Yenilə</button>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered display tbl-fontSize" id="tbl-sales-target-report" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Kateqoriya</th>
                                <th>Malın adı</th>
                                <th>Kod</th>
                                <th>Marka</th>
                                <th>Ölçü vahidi</th>
                                <th>Təyin edilən hədəf</th>
                                <th>Təyin edilən hədəf (məbləğlə)</th>
                                <th>Satılan malın miqdarı</th>
                                <th>Qaytarılan malın miqdarı</th>
                                <th>Yekun miqdar</th>
                                <th>Yekun məbləğ</th>
                                <th>İcra vəziyyəti (%) miqdarla</th>
                                <th>İcra vəziyyəti (%) məbləğlə</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.SalesTargetReports)
                            {
                                <tr>
                                    <td>@item.category_name</td>
                                    <td>@item.goods_name</td>
                                    <td>@item.goods_code</td>
                                    <td>@item.goods_mark</td>
                                    <td>@item.unit_name</td>
                                    <td>@item.target_quantity</td>
                                    <td>@item.target_sum</td>
                                    <td>@item.sold</td>
                                    <td>@item.returned</td>
                                    <td>@item.quantity</td>
                                    <td>@item.sum</td>
                                    <td>@item.as_percent</td>
                                    <td>@item.as_percent_sum</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted">
                <div class="row">
                    <div class="col-sm-2" style="min-width:130px;">
                        <button class="btn btn-border-color btn-block" onclick="printReport('#tbl-sales-target-report')">
                            <img src="~/Content/images/buttons/printer73.png" /> Çap et
                        </button>
                    </div>
                    <div class="col-sm-2 div-btn-min-with">
                        <a href="" onclick="return false" ondblclick="javascript:window.location='/home/'" class="btn btn-border-color btn-block fontSize">
                            <img src="~/Content/images/buttons/cross66.png" /> Ləğv et
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

