﻿@model TACIR.Models.WebForm
@{
    ViewBag.Title = "FromJurnal";
}

<div class="mt-2 ml-1 mr-1" id="content-wrapper">
    <div class="container-fluid">

        <div class="card mb-3">
            <div id="forPrintIdDiv">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Ödəniş
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <div class="form-label-group">
                                <input type="date" id="dateId" class="form-control" placeholder="Tarix" value="@Convert.ToDateTime(Model.docModel.document_date).ToString("yyyy-MM-dd")" required="required">
                                <label for="dateId">Tarix</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <div class="form-label-group">
                                <input type="text" id="numberIdForPaymentFromJurnal" class="form-control" placeholder="number" value="@Model.docModel.id_document" readonly>
                                <label for="numberIdForPayment">Nömrə</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-label-group col-10" style="max-width:600px;">
                            <select class="form-control select-person-search-payment-from-jurnal" id="personIdForPaymentFromJurnal" onchange="onChangePersonsForPaymentFromJurnal()">
                                <option disabled>Şəxs</option>
                                <option value="0">-</option>
                                @foreach (var per in Model.personsList)
                                {
                                    if (per.id_person == Model.docModel.fk_id_person)
                                    {
                                        <option selected value="@per.id_person">@per.person_name</option>
                                    }
                                    else
                                    {
                                        <option value="@per.id_person">@per.person_name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-2" style="padding-left:0;">
                            <button class="btn btn-border-color" data-toggle="modal" data-target="#selectPersonModelFromJurnal">
                                <img src="~/Content/images/buttons/zoom19.png" />
                            </button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <div class="form-label-group">
                                <textarea type="text" rows=1 id="noteIdFromJurnal" class="form-control" placeholder="Qeyd" required="required">@Model.docModel.note</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <div class="form-label-group">
                                <select class="form-control" id="kassaIdFromJurnal" required="required">
                                    <option class="placeholder" disabled>Kassa</option>
                                    @foreach (var k in Model.kassaList)
                                    {
                                        if (k.id_case == Model.docModel.fk_id_case)
                                        {
                                            <option selected value="@k.id_case">@k.case_name</option>

                                        }
                                        else
                                        {
                                            <option value="@k.id_case">@k.case_name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <div class="form-label-group">
                                <input type="text" id="amountIdForPaymentFromJurnal" oninput="valid(this)" onblur="onBlur(this)" onfocus="onFocus(this)" class="form-control" placeholder="Məbləğ" value="@Model.docModel.paid" required="required">
                                <label for="amountIdForPaymentFromJurnal">Məbləğ</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer small text-muted ">
                    <div class="row">
                        <label>Başlanğıc borc:&nbsp; </label>
                        <label id="startDebtInfoForPaymentFromJurnal"></label>
                    </div>
                    <div class="row">
                        <label>Sona borc:&nbsp; </label>
                        <label id="endDebtInfoForPaymentFromJurnal"></label>
                    </div>
                </div>
            </div>

            <div class="card-footer small text-muted">
                <div class="row">
                    <div class="col-sm-2 div-btn-min-with">
                        <button class="btn btn-border-color btn-block" onclick="btnSaveForPaymentFromJurnal()">
                            <img src="~/Content/images/buttons/check10.png" /> Yadda saxla
                        </button>
                    </div>
                    <div class="col-sm-2 div-btn-min-with">
                        <button class="btn btn-border-color btn-block" onclick="printPaymentFromJurnal()">
                            <img src="~/Content/images/buttons/printer73.png" /> Çap et
                        </button>
                    </div>

                    <div class="col-sm-2 div-btn-min-with">
                        <a href="" onclick="return false" ondblclick="javascript:window.location='/home/'" class="btn btn-border-color btn-block">
                            <img src="~/Content/images/buttons/cross66.png" /> Ləğv et
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


<script>
    $(document).ready(function () {
        onChangePersonsForPaymentFromJurnal();

        $('.select-person-search-payment-from-jurnal').select2();

        resizerForPayment();
        $(window).on('resize',
            function () {
                resizerForPayment();
            });
    });
</script>

<!-- Baxis -->
<div class="modal fade" id="selectPersonModelFromJurnal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Şəxs seç</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div class="card-body" style="padding:0">

                    <div class="table-responsive" id="divSelectPersonIdFromJurnal">
                        <table class="table table-bordered" id="dataTableForPaymentFromJurnal" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Şəxslər</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var pr in Model.personsList)
                                {
                                    <tr>
                                        <td>@pr.person_name</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


<!-- success modal -->
<div class="modal fade " id="succssesModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="card-body">
                    <p>Məlumat yadda saxlanildi! <br /><br />Çek çap edilsinmi?</p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void()" type="button" class="btn btn-secondary" onclick="printPaymentFromJurnal()">Bəli</a>
                <a href="/home/" type="button" class="btn btn-secondary">Xeyr</a>
            </div>
        </div>
    </div>
</div>
