﻿<style>
    select > .placeholder {
        display: none;
    }
</style>

<!-- Modal -->
<div class="modal fade" id="AddGoodsNameModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Yeni mal adlarının əlavə edilməsi</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div class="card-body">
                    
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-4">
                                    <div class="form-label-group">
                                        <input type="text" id="codeNew" class="form-control" placeholder="Kod" required="required">
                                        <label for="codeNew">Kod</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-label-group">
                                        <input type="text" id="nameNew" class="form-control" placeholder="Malın adı" required="required">
                                        <label for="nameNew">Malın adı</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-label-group">
                                        <input type="text" id="brendNew" class="form-control" placeholder="Marka" required="required">
                                        <label for="brendNew">Marka</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">

                                <div class="col-md-4">
                                    <div class="form-label-group">
                                        <input type="text" id="buyPriceNew" class="form-control" placeholder="Alış qiyməti" required="required">
                                        <label for="buyPriceNew">Alış qiyməti</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-label-group">
                                        <input type="text" id="sellPriceNew" class="form-control" placeholder="Satış qiyməti" required="required">
                                        <label for="sellPriceNew">Satış qiyməti</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-label-group">
                                        <input type="text" id="limitQuantityNew" class="form-control" placeholder="Limit miqdarı" required="required">
                                        <label for="limitQuantityNew">Limit miqdarı</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">

                                <div class="col-md-4">
                                    <div class="form-label-group">
                                        <input type="text" id="barcodeNew" class="form-control" placeholder="Ştrix kod" required="required">
                                        <label for="barcodeNew">Ştrix kod</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-label-group">
                                        <input type="text" id="activeNew" class="form-control" placeholder="Aktivlik" required="required">
                                        <label for="activeNew">Aktivlik</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-label-group">
                                        <input type="text" id="noteNew" class="form-control" placeholder="Qeyd" required="required">
                                        <label for="noteNew">Qeyd</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-4">
                                    <div class="form-label-group">
                                        <!-- image-preview-filename input [CUT FROM HERE]-->
                                        <div class="input-group image-preview">
                                            <span class="input-group-btn">
                                                <!-- image-preview-clear button -->
                                                <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                                    <span class="glyphicon glyphicon-remove"></span> Təmizlə
                                                </button>
                                                <!-- image-preview-input -->
                                                <div class="btn btn-default image-preview-input">
                                                    <span class="glyphicon glyphicon-folder-open"></span>
                                                    <span class="image-preview-input-title">Şəkil seç</span>
                                                    <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview" /> <!-- rename it -->
                                                </div>
                                            </span>
                                            <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                                        </div><!-- /input-group image-preview [TO HERE]-->
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="form-label-group">
                                        <select class="form-control" id="categoryNew" required="required">
                                            <option class="placeholder" selected disabled value="">Kateqoriya</option>
                                            <option>mal-məhsul</option>
                                            <option>xammal</option>
                                            <option>product</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-label-group">
                                        <select class="form-control" id="measureNew" required="required">
                                            <option class="placeholder" selected disabled value="">Ölçü vahidi</option>
                                            <option>kq</option>
                                            <option>m</option>
                                            <option>sm</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-label-group">
                                                <button class="btn btn-success btn-block" id="btnAddNewGoodsName">Əlavə et</button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-label-group">
                                                <button class="btn btn-primary btn-block">Təmizlə</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Bağla</button>
            </div>
        </div>

    </div>
</div>


