﻿
@{
    ViewBag.Title = "BuyGoods";
}

<style>
    .tblMaxWidthControl {
        max-width: 120px;
        width: 120px;
    }
</style>

<div id="content-wrapper">
    <div class="container-fluid">
        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Mal-material, xammal, məhsul adlarının idarə edilməsi modulu
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Kateqoriya</th>
                                <th>Kodu</th>
                                <th>Adı</th>
                                <th>Markası</th>
                                <th>Ölçü vahidi</th>
                                <th>Alış qiyməti</th>
                                <th>Satış qiyməti</th>
                                <th>Limit miqdarı</th>
                                <th>Şəkil</th>
                                <th>Qeyd</th>
                                <th class="tblMaxWidthControl">Əməliyyatlar</th>

                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < 15; i++)
                            {
                                <tr>
                                    <td>kataqoriya</td>
                                    <td>213</td>
                                    <td>test ad</td>
                                    <td>xammal</td>
                                    <td>kq</td>
                                    <td>1230</td>
                                    <td>1550</td>
                                    <td>287</td>
                                    <td>foto</td>
                                    <td>qeyd</td>
                                    <td class="tblMaxWidthControl">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#updateProductMaterialNameModal" style="max-width:50px;"><i class="fas fa-edit"></i></button>
                                            </div>
                                            <div class="col-md-6">
                                                <button class="btn btn-danger btn-block" data-toggle="modal" data-target="#deleteProductMaterialNameModal" style="max-width:50px;"><i class="fas fa-trash-alt"></i></button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted" style="padding-left:40%; padding-right:40%;">
                <button class="btn btn-success btn-block" data-toggle="modal" data-target="#addProductMaterialNameModal">
                    Yeni Mal-material, xammal, məhsul adı əlavə et
                </button>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    @*@Html.Partial("UpdateProductMaterialName")

        @Html.Partial("AddProductMaterialName")

        @Html.Partial("DeleteProductMaterialName")*@


</div>

