﻿
<style>
    select > .placeholder {
        display: none;
    }
</style>

<!-- Modal -->
<div class="modal fade" id="DeleteGoodsNameModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Mal adının silinməsi</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        <input type="text" id="goodsCodeDelete" class="form-control" value="12345" readonly autofocus="autofocus">
                                        <label for="goodsCodeDelete">Malın kodu</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        <input type="text" id="goodsNameDelete" class="form-control" readonly value="testsrüf">
                                        <label for="goodsNameDelete">Malın adı</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                    <div class="form-row">
                                        <div class="col-md-6">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-label-group">
                                                <button class="btn btn-danger btn-block" id="btnDeleteGoodsName">Sil</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Bağla</button>
            </div>
        </div>

    </div>
</div>


