﻿
@{
    ViewBag.Title = "NewGoodsName";
}

<style>
    .tblMaxWidthControl {
        max-width: 120px;
        width: 120px;
    }
    .table tbody tr.highlight td {
  background-color: #ddd;
}
</style>

<div id="content-wrapper">
    <div class="container-fluid">
        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Mal adlarının idarə edilməsi modulu
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Kateqoriya</th>
                                <th>Malın adı</th>
                                <th>Kod</th>
                                <th>Marka</th>
                                <th>Ölçü vahidi</th>
                                <th>Limit miqdarı</th>
                                <th>Alış qiyməti (AZN)</th>
                                <th>Satış qiyməti (AZN)</th>
                                <th>Ştrix kod</th>
                                <th>Aktivlik</th>
                                <th>Şəkil</th>
                                <th>Qeyd</th>
                                <th class="tblMaxWidthControl">Əməliyyatlar</th>

                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < 3; i++)
                            {
                                <tr>
                                    <td>product</td>
                                    <td>213</td>
                                    <td>test ad</td>
                                    <td>xammal</td>
                                    <td>kq</td>
                                    <td>1230</td>
                                    <td>1550</td>
                                    <td>287</td>
                                    <td>foto</td>
                                    <td>qeyd</td>
                                    <td>erg</td>
                                    <td>dfas</td>
                                    <td class="tblMaxWidthControl">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#UpdateGoodsNameModal" style="max-width:50px;"><i class="fas fa-edit"></i></button>
                                            </div>
                                            <div class="col-md-6">
                                                <button class="btn btn-danger btn-block" data-toggle="modal" data-target="#DeleteGoodsNameModal" style="max-width:50px;"><i class="fas fa-trash-alt"></i></button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted" style="padding-left:40%; padding-right:40%;">
                <button class="btn btn-success btn-block" data-toggle="modal" data-target="#AddGoodsNameModal">
                    Yeni mal adı daxil et
                </button>
            </div>
        </div>
    </div>

    <!-- /.container-fluid -->

    @Html.Partial("AddGoodsNameModal")
    @Html.Partial("UpdateGoodsNameModal")
    @Html.Partial("DeleteGoodsNameModal")


</div>




