﻿@model TACIR.Models.WebForm
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <!-- Title Page-->
    <title>Login</title>
    <!-- Main CSS-->
    <link href="~/Content/css/font-face.css" rel="stylesheet" />
    <link href="~/Content/css/theme.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/my-css.css" rel="stylesheet" />
</head>
<body class="animsition">
    <div class="page-wrapper">
        <div class="page-content--bge5" style="background-size: cover;">
            <div class="container" style="min-width:100% !important">
                <div class="login-wrap" id="divLoginWrapId">
                    <div class="login-content" style="opacity: 9;">

                        <div class="login-logo">
                            @*<label class="login-text-size" style="font-weight: bold; text-align: center;">GİRİŞ</label>*@
                            <img src="~/Content/images/logo.png" />

                        </div>
                        <div class="login-form">
                            <div class="form-group">
                                <select class="form-control" id="objectIdForLogin" name="objectId" required="required" onchange="onChangeObjectForLogin()">
                                    <option class="placeholder" selected disabled>Obyekt</option>
                                    @foreach (var ob in Model.obyektList)
                                    {
                                        if (Model.objId == ob.id_base)
                                        {
                                            <option selected value="@ob.id_base">@ob.base_name</option>
                                        }
                                        else
                                        {
                                            <option value="@ob.id_base">@ob.base_name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="usernameIdForLogin" name="userId" required="required">
                                    <option class="usernameId" selected disabled>İstifadəçi adı</option>
                                    @foreach (var usr in Model.userList)
                                    {
                                        if (Model.usrId == usr.id_user)
                                        {
                                            <option selected value="@usr.id_user">@usr.user_name</option>
                                        }
                                        else
                                        {
                                            <option value="@usr.id_user">@usr.user_name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <input class="au-input au-input--full" type="password" id="passwordId" name="password" placeholder="Şifrə">
                            </div>
                            <div>
                                <label id="lblloginStatusId" style="display: none; color: darkred;"></label>
                            </div>
                            <div class="row">
                                @*<div class="col-6">
                                    <img src="~/Content/images/logo.png" />
                                </div>*@
                                <div class="col-12">
                                    <button class="btn btn-border-color btn-block fontSize w-100" id="btnLoginId" type="submit" onclick="login()">
                                        <img src="~/Content/images/buttons/check10.png" />
                                        Daxil ol
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div><p style="color: #6666" id="versionId">version: 1.0.4.6</p></div>

                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/vendor/jquery/jquery.min.js"></script>
    <!-- Main JS-->
    <script src="~/Scripts/LoginScript.js"></script>
    <script>
        $(document).ready(function () {
            resizerForLogin();
            $(window).on('resize',
                function () {
                    resizerForLogin();
                });

            var pass = document.getElementById("passwordId");
            pass.addEventListener("keyup", function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    document.getElementById("btnLoginId").click();
                }
            });

        });
    </script>
</body>
</html>
<!-- end document-->
