﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Tacir.pro</title>
    <!-- Custom fonts for this template-->
    <link href="~/Scripts/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="~/Scripts/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin.css" rel="stylesheet">
    <link href="~/Content/css/my-css.css" rel="stylesheet" />
    <script src="~/Scripts/vendor/jquery/jquery.min.js"></script>

    <link href="~/Content/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
</head>


<body id="page-top">

    @RenderBody()

    <div id="hamburger" class="waves-effect waves-light">
        <div>
            <span class="icon-bar" id="one"></span>
            <span class="icon-bar" id="two"></span>
            <span class="icon-bar" id="thr"></span>
        </div>
    </div>
    @{var data = Session["MenuAccess"] as TACIR.Models.MenuAccessModel; }
    <a href="/Home/" id="btnHome" class="hamburger-nav">
        <img style="width: 24px; height: 24px;" src="~/Content/images/menu/home.png">
    </a>
    @if (data.jurnal_menu_access)
    {
        <a href="/Jurnal/" id="btnJurnal" class="hamburger-nav">
            <img style="width: 24px; height: 24px;" src="~/Content/images/menu/journal.png">
        </a>
    }
    @if (data.goods_sold_menu_access)
    {
        <a href="/GoodsSold/" id="btnGoodsSold" class="hamburger-nav">
            <img style="width: 24px; height: 24px;" src="~/Content/images/menu/sell.png">
        </a>
        <a href="/FastGoodsSold/" id="btnFastGoodsSold" class="hamburger-nav">
            <img style="width: 24px; height: 24px;" src="~/Content/images/menu/quick sell.png">
        </a>
    }
    @if (data.goods_refund_menu_access)
    {
        <a href="/GoodsRefund/" id="btnGoodsRefund" class="hamburger-nav">
            <img style="width: 24px; height: 24px;" src="~/Content/images/menu/return from selling.png">
        </a>
    }
    @if (data.payment_menu_access)
    {
        <a href="/Payment/" id="btnPayment" class="hamburger-nav">
            <img style="width: 24px; height: 24px;" src="~/Content/images/menu/payment.png">
        </a>
    }
    @if (data.debt_menu_access)
    {
        <a href="/Debt/" id="btnDebt" class="hamburger-nav">
            <img style="width: 24px; height: 24px;" src="~/Content/images/menu/payment - refund.png">
        </a>
    }
    <a href="/Report/" id="btnReport" class="hamburger-nav">
        <img style="width: 24px; height: 24px;" src="~/Content/images/menu/report.png">
    </a>
    <a href="/Login/logOut/" id="btnExit" class="hamburger-nav">
        <img style="width: 24px; height: 24px;" src="~/Content/images/menu/exit.png">
    </a>

    <!-- info modal -->
    <div class="modal fade " id="infoModal" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="card-body">
                        <p id="info-modal-id"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0)" type="button" class="btn btn-secondary" data-dismiss="modal">OK</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Scripts/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="~/Scripts/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Scripts/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Scripts/js/sb-admin.min.js"></script>
    <!-- Demo scripts for this page-->
    <script src="~/Scripts/js/demo/datatables-demo.js"></script>
    <script src="~/Scripts/Utils.js?v=1.0.1.3"></script>
    <script src="~/Scripts/Resize.js?v=1.0.0.9"></script>
    <script src="~/Scripts/Print.js?v=1.0.1.0"></script>
    <script>

        $(window).on("orientationchange", function () {
            if ($(window).width() < -1) {
                location.reload();
            }
        });

    </script>
</body>
</html>
