﻿@model TACIR.Models.WebForm


<div class="card mb-3">
    <div class="card-header" id="showHideIdForAddGoods" onclick="showhideAddGoods()">
        <div class="row">
            <div class="col-11">
                <i class="fas fa-table"></i>
                Əlavə ediləcək mal
            </div>
            <div class="col-1">
                <a href="javascript:void(0)"><i class="fas fa-chevron-up" style="color:black;"></i></a>
            </div>
        </div>
    </div>
    <div style="display:none;" id="addGoodsDivId">
        <div class="card-body">
            <div class="form-group row">
                <div class="form-label-group input-group col-10">
                    <input type="text" id="barcodeIdForGoods" style="height:42px;" class="form-control" placeholder="Ştirxkod" required="required">
                    <label for="barcodeIdForGoods">Ştrixkod</label>

                    <div class="input-group-prepend" style="margin-left:2px;">
                        <button class="btn btn-border-color" style="border-radius:0.25rem" data-toggle="modal" data-target="#livestream_scanner">
                            <img src="~/Content/images/buttons/shopping156.png" />
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="form-label-group col-10">
                    <select class="form-control select-goods-search-goods-sold" id="goodsNameIdForGoods" required="required" onchange="onChangeGoodsForGoods()">
                        <option class="placeholder" selected value="0" disabled>Malın adı</option>
                        @foreach (var gd in Model.goodsList)
                        {
                            <option value="@gd.id_good">@gd.good_name</option>
                        }
                    </select>
                </div>
                <div class="col-2" style="padding-left:0;">
                    <button class="btn btn-border-color" data-toggle="modal" data-target="#selectGoodsForGoods">
                        <img src="~/Content/images/buttons/zoom19.png" />
                    </button>
                </div>
            </div>
            <div class="form-group row">

                <div class="col-md-6">
                    <div class="form-label-group input-group">
                        <input type="text" id="countIdForGoods" oninput="valid(this)" class="form-control" value="0" placeholder="Miqdarı" onblur="onBlur(this)" onfocus="onFocus(this)" required="required">
                        <label for="countIdForGoods">Miqdarı</label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="unitNameIdForGoods"></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <div class="form-label-group input-group">
                        <input type="text" id="priceIdForGoods" class="form-control" value="0" placeholder="Qiyməti" disabled onblur="onBlur(this)" onfocus="onFocus(this)" required="required">
                        <label for="priceIdForGoods">Qiyməti</label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="">AZN</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <div class="form-label-group">
                        <input type="text" id="soldPriceIdForGoods" oninput="valid(this)" class="form-control" value="0" placeholder="Satış qiyməti" onblur="onBlur(this)" onfocus="onFocus(this)" required="required">
                        <label for="soldPriceIdForGoods">Satış qiyməti</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <div class="form-label-group">
                        <textarea rows="1" id="noteIdForGoods" class="form-control" placeholder="Qeyd" required="required"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group row">
                    <div class="col-6">
                        <button class="btn btn-border-color btn-block" id="btnAddGoodsFromOrder" onclick="btnAddGoodsFromOrderClick()" data-toggle="modal" data-target="#selectGoodsFromOrderModal">
                            Satışdan əlavə et <img src="~/Content/images/buttons/great7.png" />
                        </button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-border-color btn-block" id="btnAddGoods" onclick="btnAddGoodsClick()">
                            Əlavə et <img src="~/Content/images/buttons/right8.png" />
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer small text-muted ">
            <div class="row">
                <div class="col-4 goods-sold-footer-text">
                    <input type="text" value="Anbarda qalıq" disabled class="form-control fontSize" />
                </div>
                <div class="col-4 goods-sold-footer-text">
                    <input type="number" id="storageResidueIdForGoods" class="form-control fontSize" value="0" disabled>
                </div>
                <div class="col-4 goods-sold-footer-dir">
                    <input type="text" id="directionStorageForGoods" disabled class="form-control fontSize" />
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Baxis -->
<div class="modal fade" id="selectGoodsForGoods" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Mal seç</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div class="card-body" style="padding:0">

                    <div class="table-responsive" id="divSelectGoodsIdForGoods">

                        <table class="table table-bordered" id="dataTableSelectGoodsForGoods" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Malın adı</th>
                                    <th></th>
                                    <th hidden>id</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var g in Model.goodsList)
                                {
                                    <tr>
                                        <td>@g.good_name</td>
                                        <td style="text-align:center"> @g.quantity @g.unit_name</td>
                                        <td hidden>@g.id_good</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<!-- select from order goods -->
<div class="modal fade" id="selectGoodsFromOrderModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sifarişdən əlavə et</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="card-body p-0">

                    <div class="table-responsive" id="">

                        <table class="table table-bordered" id="dataTableSelectGoodsFromOrder" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th hidden>id</th>
                                    <th>Sifarişin adı</th>
                                </tr>
                            </thead>
                            <tbody id="tblBodySelectFromOrder">

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
