﻿@model TACIR.Models.WebForm


<div class="card-footer small text-muted ">
    <div class="row">
        <div class="col-auto div-col-goods-sold-id">
            <input type="text" value="Məbləğ" oninput="valid(this)" disabled class="form-control fontSize" />
        </div>
        <div class="col-auto div-col-goods-sold-id">
            <input type="text" id="priceId" class="form-control fontSize price-color" value="@Math.Round(Model.docModel.sum,2)" readonly>
        </div>
        <div class="col-auto div-col-goods-sold-id">
            <input type="text" value="Endirim" disabled class="form-control fontSize" />
        </div>
        <div class="col-auto div-col-goods-sold-id">
            <div class="input-group">
                <input type="text" id="discountId" oninput="valid(this)" onchange="onChangeReceipt()" onblur="onBlur(this)" onfocus="onFocus(this)" class="form-control fontSize" value="@Math.Round(Model.docModel.addition,3)">
                <div class="input-group-prepend btn-border-color" data-toggle="modal" data-target="#discountPercent" style="align-items:center; margin-left:2px; padding: 5px; border:1px solid #00000030">
                    <img src="~/Content/images/buttons/less14.png" />
                </div>
            </div>
        </div>

        <div class="col-auto div-col-goods-sold-id">
            <input type="text" value="Ödənilən məbləğ" oninput="valid(this)" id="startBorc" disabled class="form-control fontSize " />
        </div>
        <div class="col-auto div-col-goods-sold-id">
            <input type="text" id="paidAmountId" oninput="valid(this)" class="form-control fontSize paid-color" onchange="onChangeReceipt()" onblur="onBlur(this)" onfocus="onFocus(this)" value="@Math.Round(Model.docModel.paid,3)">
        </div>
        <div class="col-auto div-col-goods-sold-id">
            <input type="text" value="Kassa" disabled class="form-control fontSize" />
        </div>
        <div class="col-auto div-col-goods-sold-id">
            <select class="form-control fontSize" id="kassaId" required="required">
                @foreach (var kassa in Model.kassaList)
                {
                    if (Model.docModel.fk_id_case == kassa.id_case)
                    {
                        <option value="@kassa.id_case" selected>@kassa.case_name</option>
                    }
                    else
                    {
                        <option value="@kassa.id_case">@kassa.case_name</option>
                    }
                }
            </select>
        </div>

    </div>
</div>

<div class="card-footer small text-muted">
    <label class="fontSize mb-0">Sona borc: </label>
    <label class="fontSize mb-0" id="endDebtInfoForGoodsSold"></label>
</div>

<div class="card-footer small text-muted">
    <div class="row">
        <div class="col-sm-2 div-btn-min-with">
            <button class="btn btn-border-color btn-block fontSize" onclick="btnSaveForGoodsSold()">
                <img src="~/Content/images/buttons/check10.png" /> Yadda saxla
            </button>
        </div>
        <div class="col-sm-2 div-btn-min-with">
            <button class="btn btn-border-color btn-block fontSize" @(Model.docModel.id_document==0? "disabled": "") onclick="printGoodsSold()">
                <img src="~/Content/images/buttons/printer73.png" /> Çap et
            </button>
        </div>
        <div class="col-sm-2 div-btn-min-with">
            <a href="" onclick="return false" ondblclick="javascript:window.location='/home/'" class="btn btn-border-color btn-block fontSize">
                <img src="~/Content/images/buttons/cross66.png" /> Ləğv et
            </a>
        </div>
    </div>
</div>


<!-- endirim faiz -->
<div class="modal fade" id="discountPercent" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Endirim</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="row">

                        <div class="col-6"><label>Başlanğıc məbləğ: </label></div>
                        <div class=" col-6">
                            <input type="text" id="startDebtForDiscount" class="form-control" value="0" disabled onblur="onBlur(this)" onfocus="onFocus(this)">
                        </div>

                        <div class="col-6"><label>Məbləğlə: </label></div>
                        <div class=" col-6 input-group">
                            <input type="text" id="amountForDiscount" oninput="valid(this)" onchange="onChangeForDiscount(1)" class="form-control" value="0" onblur="onBlur(this)" onfocus="onFocus(this)">
                            <div class="input-group-prepend">
                                <span class="input-group-text">AZN</span>
                            </div>
                        </div>

                        <div class="col-6"><label>Faizlə: </label></div>
                        <div class="col-6 input-group">
                            <input type="text" id="percentForDiscount" oninput="valid(this)" onchange="onChangeForDiscount(2)" class="form-control" value="0" onblur="onBlur(this)" onfocus="onFocus(this)">
                            <div class="input-group-prepend">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>

                        <div class="col-6"><label>Sona məbləğ: </label></div>
                        <div class=" col-6">
                            <input type="text" id="endDebtForDiscount" class="form-control" value="0" disabled onblur="onBlur(this)" onfocus="onFocus(this)">
                        </div>
                        <div class="col-6"><button class="btn btn-success btn-block fontSize" onclick="discountCalcSubmit()" data-dismiss="modal"><i class="fas fa-check"></i> Təsdiq et</button></div>
                        <div class="col-6"><button class="btn btn-danger btn-block fontSize" data-dismiss="modal"><i class="fas fa-times"></i> Ləğv et</button></div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
