﻿@model TACIR.Models.WebForm


<div class="card mb-3">
    <div class="card-header" id="showHideIdForAboutGoods" onclick="showhideAboutGoods()">
        <div class="row">
            <div class="col-11">
                <i class="fas fa-table"></i>
                Şəxs haqqında məlumatlar
            </div>
            <div class="col-1">
                <a href="javascript:void(0)"><i class="fas fa-chevron-up" style="color:black;"></i></a>
            </div>
        </div>
    </div>

    <div style="display:none;" id="aboutGoodsDivId">
        <div class="card-body">
            <div class="form-group row">
                <div class="col-md-7">
                    <div class="form-label-group">
                        <input type="date" id="dateIdForGoodsRefund" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" required="required">
                        <label for="dateIdForGoodsRefund">Tarix</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-7">
                    <div class="form-label-group">
                        <input type="text" id="numberIdForGoodsRefund" class="form-control" disabled value="@Model.documnetNo">
                        <label for="numberIdForGoodsRefund">Nömrə</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="form-label-group col-8">
                    <select class="form-control select-person-search-goods-refund" id="personIdForGoodsRefund" required="required" onchange="onChangePersonsForGoodsRefund()">
                        <option class="placeholder" disabled>Şəxs</option>
                        <option value="0">-</option>
                        @foreach (var per in Model.personsList)
                        {
                            if (Model.docModel.fk_id_person == per.id_person)
                            {
                                <option value="@per.id_person" selected>@per.person_name</option>
                            }
                            else
                            {
                                <option value="@per.id_person">@per.person_name</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-4" style="padding-left:0; min-width:95px">
                    <button class="btn btn-border-color" data-toggle="modal" data-target="#selectPersonModelForGoodsRefund">
                        <img src="~/Content/images/buttons/zoom19.png" />
                    </button>
                    <button class="btn btn-border-color" data-toggle="modal" data-target="#insertPerson">
                        <img src="~/Content/images/buttons/plus81.png" />
                    </button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <div class="form-label-group">
                        <textarea rows="1" id="noteIdForGoodsRefund" class="form-control" placeholder="Qeyd" required="required"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="form-label-group col-md-12">
                    <select class="form-control" id="employeeIdForGoodsRefund">
                        <option class="placeholder" value="0" selected disabled>Satıcı</option>
                        @foreach (var emp in Model.empList)
                        {
                            if (Model.docModel.fk_id_employee == emp.id_employee)
                            {
                                <option value="@emp.id_employee" selected>@emp.employee_name</option>
                            }
                            else
                            {
                                <option value="@emp.id_employee">@emp.employee_name</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="card-footer small text-muted">
            <label class="fontSize mb-0">Başlanğıc borc: </label>
            <label class="fontSize mb-0" id="startDebtInfoForGoodsRefund"></label>
        </div>
    </div>
</div>

<!-- Baxis -->
<div class="modal fade" id="selectPersonModelForGoodsRefund" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Şəxs seç</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="card-body p-0">
                    <div class="table-responsive" id="divSelectPersonIdForGoodsRefund">
                        <table class="table table-bordered" id="dataTableSelectPersonForGoodsRefund" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Şəxslər</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var pr in Model.personsList)
                                {
                                    <tr>
                                        <td>@pr.person_name</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- insert person -->
<div class="modal fade" id="insertPerson" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Şəxs əlavə et</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="card-body">

                    <form action="/GoodsSold/insertPerson" method="post">
                        <div class="form-group row">
                            <div class="form-label-group input-group col-md-10">
                                <input type="text" id="personNameId" style="height:42px;" name="person_name" placeholder="Şəxsin adı" class="form-control">
                                <label for="personNameId">Şəxsin adı</label>

                                <div class="input-group-prepend" style="margin-left:2px;">
                                    <button type="button" style="border-radius:0.25rem" class="btn btn-border-color" onclick="getSimilarPersonNames()">
                                        <img src="~/Content/images/buttons/zoom19.png"/>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="form-label-group input-group col-md-8">
                                <input type="text" id="personCodeId" style="height:42px;" name="person_code" value="" placeholder="Kod" class="form-control">
                                <label for="personCodeId">Kod</label>

                                <div class="input-group-prepend" style="margin-left:2px;">
                                    <button type="button" style="border-radius:0.25rem" class="btn btn-border-color" onclick="getPersonCode()">
                                        <img src="~/Content/images/buttons/new92.png" />
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col-md-4">
                                <div class="form-label-group">
                                    <input type="radio" id="personTypePhysicalId" value="1" name="fk_id_person_type">
                                    <label for="personTypePhysicalId" style="margin-left:5px;">Fiziki şəxs</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-label-group">
                                    <input type="radio" id="personTypeJuridicalId" value="2" name="fk_id_person_type">
                                    <label for="personTypeJuridicalId" style="margin-left:5px;">Hüquqi şəxs</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" id="voenId" name="VOEN" placeholder="Vöen" class="form-control">
                                    <label for="voenId">Vöen</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-8">
                                <div class="form-label-group">
                                    <input type="text" id="phoneId" name="person_phone" placeholder="Əlaqə nömrəsi" class="form-control">
                                    <label for="phoneId">Əlaqə nömrəsi</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-7">
                                <div class="form-label-group">
                                    <input type="text" id="addressId" name="person_address" placeholder="Ünvan" class="form-control">
                                    <label for="addressId">Ünvan</label>
                                </div>
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="form-label-group input-group col-md-6">
                                <input type="text" id="limitId" name="limit" placeholder="Borc limiti" class="form-control" oninput="valid(this)" value="0" onblur="onBlur(this)" onfocus="onFocus(this)">
                                <label for="limitId">Borc limiti</label>

                                <div class="input-group-prepend">
                                    <span class="input-group-text">AZN</span>
                                </div>
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="form-label-group input-group col-md-6">
                                <input type="text" id="discount" name="discount" placeholder="Endirim" class="form-control" oninput="valid(this)" value="0" onblur="onBlur(this)" onfocus="onFocus(this)">
                                <label for="discount">Endirim</label>

                                <div class="input-group-prepend">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <div class="form-label-group">
                                    <input type="checkbox" id="is_supplierId" value="1" name="is_supplier">
                                    <label for="is_supplierId" style="margin-left:5px;">Təchizatçı</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-label-group">
                                    <input type="checkbox" id="is_customerId" value="1" name="is_customer">
                                    <label for="is_customerId" style="margin-left:5px;">Müştəri</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-label-group">
                                    <input type="checkbox" id="is_otherId" value="1" name="is_other">
                                    <label for="is_otherId" style="margin-left:5px;">Digər</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <select class="form-control" id="sellingPriceTypeId" name="selling_price_type">
                                    <option disabled>Satış qiyməti</option>
                                    <option value="0">Satış qiyməti</option>
                                    <option value="1">Əlavə satış qiyməti</option>
                                    <option value="2">Topdan satış qiyməti</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-10">
                                <div class="form-label-group">
                                    <textarea rows="1" id="noteId" name="note" class="form-control" placeholder="Qeyd"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-4">
                                <div class="form-label-group">
                                    <input type="date" id="regDateId" name="reg_date" class="form-control" placeholder="Qeydiyyat tarixi" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                                    <label for="regDateId">Qeydiyyat tarixi</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-label-group  row">
                                <div class="col-md-6"></div>
                                <div class="col-md-3">
                                    <button class="btn btn-border-color btn-block" id="btnSavePerson">
                                      <img src="~/Content/images/buttons/check10.png"/>  Əlavə et
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-border-color btn-block" id="btnCancelPerson" data-dismiss="modal">
                                        <img src="~/Content/images/buttons/cross66.png" /> Ləğv et
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>

<!-- similar modal -->  
<div class="modal fade " id="similarModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Oxşar adlarda şəxslər</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="similar-person-name-id">
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" type="button" class="btn btn-secondary" data-dismiss="modal">OK</a>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        if ($(window).width() < 770) {
            $('#button').addClass('col-3');
            $('#button').removeClass('col-2');
        }
        else {
            $('#button').addClass('col-2');
            $('#button').removeClass('col-3');
        }

        $(window).keydown(function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                return false;
            }
        });
    });

</script>