﻿@model TACIR.Models.WebForm

<div class="col-md-8" id="addedGoodsDivIdForGoodsRefund">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Əlavə edilən mallar
        </div>
        <div class="card-body">
            <div class="table-responsive" id="addedGoodsDivId">
                <table class="table table-bordered tbl-fontSize" id="dataTableForAddedGoodsRefund" width="100%" cellspacing="0">
                    <thead>
                        <tr style="text-align:left;">
                            <th>Malın adı</th>
                            <th>Miqdarı</th>
                            <th>Ölçü vahidi</th>
                            <th>Satış qiyməti</th>
                            <th>Məbləğ</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.invoiceList != null && Model.invoiceList.Count > 0)
                        {
                            foreach (var goods in Model.invoiceList)
                            {
                                <tr>
                                    <td style="min-width:200px;">@goods.good_name</td>
                                    <td>@goods.quantity</td>
                                    <td>@goods.unit_name</td>
                                    <td>@goods.selling_price</td>
                                    <td style="min-width:150px;">@Math.Round(double.Parse(goods.quantity) * double.Parse(goods.selling_price), 3)</td>
                                    <td><button class='btn btn-danger btn-block fontSize' onclick="deleteInvoiceGoodsById(@goods.id_gooddata)"><i class='far fa-trash-alt'></i></button></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


