﻿@model TACIR.Models.WebForm
@{
    ViewBag.Title = "Index GoodsRefund";
}

<script src="~/Scripts/quagga.min.js"></script>

<div class="mt-2" id="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div id="div-about-add-goods-refund-id" style="min-width:300px;" class="col-md-4">
                @Html.Partial("_AboutGoodsRefund", Model)
                @Html.Partial("_AddGoodsRefund", Model)
            </div>
            @Html.Partial("_AddedGoodsRefund", Model)
        </div>
        @Html.Partial("_FooterGoodsRefund", Model)
    </div>
</div>

<!-- barcode modal -->
<div class="modal" id="livestream_scanner">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="position: static">
                <div id="interactive" class="viewport"></div>
                <div class="error"></div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- success modal -->
<div class="modal fade " id="succssesModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="card-body">
                    <p>Məlumat yadda saxlanildi! <br /><br />Çek çap edilsinmi?</p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" type="button" class="btn btn-secondary" onclick="stopNavigate(), printGoodsRefund()">Bəli</a>
                <a href="/home/" type="button" class="btn btn-secondary" onclick="stopNavigate()">Xeyr</a>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        $('.select-person-search-goods-refund').select2();
        $('.select-goods-search-goods-refund').select2();
        resizer();
        onChangePersonsForGoodsRefund();
    });

    $(window).on('resize', function () {
        resizer();
    });

    window.addEventListener('beforeunload', GoodsRefundWindowClose);

    function stopNavigate() {
        window.removeEventListener('beforeunload', GoodsRefundWindowClose);
    }

    function GoodsRefundWindowClose(e) {

        var docId = $("#numberIdForGoods").val();
        $.ajax({
            type: "POST",
            url: serviceURL.updateDocumentGoodsOldToCurrent,
            dataType: "json",
            data: { docId },
            success: successFunc,
            error: errorFunc
        });

        function successFunc(result) {

        }

        function errorFunc() {
            //alert("error");
        }

    }

    // barcode scan
    $(function () {


        // Create the QuaggaJS config object for the live stream
        var liveStreamConfig = {
            inputStream: {
                type: "LiveStream",
                constraints: {
                    width: { min: 640 },
                    height: { min: 480 },
                    aspectRatio: { min: 1, max: 100 },
                    facingMode: "environment" // or "user" for the front camera
                }
            },
            locator: {
                patchSize: "large",
                halfSample: true
            },
            numOfWorkers: (navigator.hardwareConcurrency ? navigator.hardwareConcurrency : 4),
            decoder: {
                "readers": [
                    { "format": "ean_reader", "config": {} },
                    { "format": "ean_8_reader", "config": {} },
                    { "format": "code_128_reader", "config": {} },
                    { "format": "code_39_reader", "config": {} },
                    { "format": "code_39_vin_reader", "config": {} },
                    { "format": "codabar_reader", "config": {} },
                    { "format": "upc_reader", "config": {} },
                    { "format": "upc_e_reader", "config": {} },
                    { "format": "i2of5_reader", "config": {} }
                ]
            },
            locate: true
        };

        // The fallback to the file API requires a different inputStream option.
        // The rest is the same
        var fileConfig = $.extend(
            {},
            liveStreamConfig,
            {
                inputStream: {
                    size: 800
                }
            }
        );
        // Start the live stream scanner when the modal opens
        $('#livestream_scanner').on('shown.bs.modal', function (e) {
            Quagga.init(
                liveStreamConfig,
                function (err) {
                    if (err) {
                        $('#livestream_scanner .modal-body .error').html('<div class="alert alert-danger"><strong><i class="fa fa-exclamation-triangle"></i> ' + err.name + '</strong>: ' + err.message + '</div>');
                        Quagga.stop();
                        return;
                    }
                    Quagga.start();
                }
            );
        });

        // Make sure, QuaggaJS draws frames an lines around possible
        // barcodes on the live stream
        Quagga.onProcessed(function (result) {
            var drawingCtx = Quagga.canvas.ctx.overlay,
                drawingCanvas = Quagga.canvas.dom.overlay;

            if (result) {
                if (result.boxes) {
                    drawingCtx.clearRect(0, 0, parseInt(drawingCanvas.getAttribute("width")), parseInt(drawingCanvas.getAttribute("height")));
                    result.boxes.filter(function (box) {
                        return box !== result.box;
                    }).forEach(function (box) {
                        Quagga.ImageDebug.drawPath(box, { x: 0, y: 1 }, drawingCtx, { color: "green", lineWidth: 2 });
                    });
                }

                if (result.box) {
                    Quagga.ImageDebug.drawPath(result.box, { x: 0, y: 1 }, drawingCtx, { color: "#00F", lineWidth: 2 });
                }

                if (result.codeResult && result.codeResult.code) {
                    Quagga.ImageDebug.drawPath(result.line, { x: 'x', y: 'y' }, drawingCtx, { color: 'red', lineWidth: 3 });
                }
            }
        });

        // Once a barcode had been read successfully, stop quagga and
        // close the modal after a second to let the user notice where
        // the barcode had actually been found.
        Quagga.onDetected(function (result) {
            if (result.codeResult.code) {
                $('#barcodeIdForGoods').val(result.codeResult.code);
                getGoodsByBarcode();
                Quagga.stop();
                setTimeout(function () { $('#livestream_scanner').modal('hide'); }, 1000);
            }
        });

        // Stop quagga in any case, when the modal is closed
        $('#livestream_scanner').on('hide.bs.modal', function () {
            if (Quagga) {
                Quagga.stop();
            }
        });

        // Call Quagga.decodeSingle() for every file selected in the
        // file input
        $("#livestream_scanner input:file").on("change", function (e) {
            if (e.target.files && e.target.files.length) {
                Quagga.decodeSingle($.extend({}, fileConfig, { src: URL.createObjectURL(e.target.files[0]) }), function (result) { alert(result.codeResult.code); });
            }
        });
    });
</script>
