﻿@model TACIR.Models.WebForm



<div id="search-div-id" class="card col-md-3" style="margin:1%; margin-top:0; min-width:300px;">
    <div class="card-body">
 
        <div class="form-group">
            <div class="form-label-group">
                <select class="form-control" id="usernameIdForJurnal" name="userId" required="required">
                    <option class="placeholder" selected disabled>İstifadəçi adı</option>
                    @foreach (var usr in Model.userList)
                    {
                        if (Model.usrId == usr.id_user)
                        {
                            <option selected value="@usr.id_user">@usr.user_name</option>
                        }
                        else
                        {
                            <option value="@usr.id_user">@usr.user_name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-label-group">
                        <input type="date" id="startDateIdForJurnal" name="startDate" class="form-control fontSize dateStyle" placeholder="Başlanğıc tarix" value="@DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd")" required="required">
                        <label class="fontSize" for="startDateIdForJurnal">Başlanğıc tarix</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-label-group">
                        <input type="date" id="endDateIdForJurnal" name="endDate" class="form-control dateStyle fontSize" placeholder="Son tarix" value="@DateTime.Now.ToString("yyyy-MM-dd")" required="required">
                        <label class="fontSize" for="endDateIdForJurnal">Son tarix</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-label-group">
                <input type="text" id="keyWordIdForJurnal" class="form-control" placeholder="Açar söz" required="required">
                <label class="fontSize" for="keyWordIdForJurnal">Açar söz</label>
            </div>
        </div>
        <div class="form-group" style="text-align:right;">
            <button class="btn btn-border-color" style="min-width:100px;" id="btnSearchForJurnal" onclick="onClickSsearchForJurnal()">
                <img src="~/Content/images/buttons/zoom19.png" /> Axtar
            </button>
        </div>
    </div>
</div>
