﻿
<style>
    table.dataTable tbody tr.selected {
        background-color: #B0BED9
    }
</style>

<div id="table-div-id" class="card mb-3 col-md-8" style=" margin: 1%; margin-top: 0; padding: 0; min-width:300px;">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Jurnal
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered display tbl-fontSize" id="dataTableForJurnal" width="100%" cellspacing="0">
                <thead>
                    <tr style="text-align:center;">
                        <th>Əməliyyatın nömrəsi</th>
                        <th>Əməliyyatın adı</th>
                        <th>Tarix</th>
                        <th>Obyektin adı</th>
                        <th>Açıqlama</th>
                        <th>Məbləğ</th>
                        <th>Mədaxil</th>
                        <th>Məxaric</th>
                        <th>İstifadəçi</th>
                        <th></th>
                        <th hidden></th>
                    </tr>
                </thead>
                <tbody id="tblJurnalSerachResultId">
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">
        <div class="row">
            <div class="col-sm-2" style="min-width:130px;">
                <button class="btn btn-border-color btn-block" data-toggle="modal" onclick="checkRowSelected(1)">
                    <img src="~/Content/images/buttons/visible9.png" /> Baxış
                </button>
            </div>
            <div class="col-sm-2" style="min-width:130px;">
                <button class="btn btn-border-color btn-block" id="updateIdForJurnal" onclick="checkRowSelected(3)" style="min-width:125px;">
                    <img src="~/Content/images/buttons/write15.png" /> Redaktə et
                </button>
            </div>
            <div class="col-sm-2" style="min-width:130px;">
                <button class="btn btn-border-color btn-block" data-toggle="modal" onclick="checkRowSelected(2)">
                   <img src="~/Content/images/buttons/cross66.png"/> Sil
                </button>
            </div>
        </div>
    </div>
</div>
