﻿@model TACIR.Models.WebForm
@{
    ViewBag.Title = "Index Jurnal";
}

        <div class="mt-2 " id="content-wrapper">
            <div class="container-fluid row">

                @Html.Partial("_SearchPartial", Model)
                @Html.Partial("_TablePartial")

            </div>
        </div>

<script>
    $(document).ready(function() {
        resizerForJurnal();
        $(window).on('resize',
            function() {
                resizerForJurnal();
            });
    });
</script>

<!-- Baxis view modal -->
<div class="modal fade" id="viewModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Baxış</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div class="card-body">

                    <div class="form-row">
                        <div class="col-sm-4">
                            <div class="form-label-group">
                                <input type="text" id="operationNoIdForView" class="form-control" disabled />
                                <label for="operationNoIdForView">Əməliyyatın nömrəsi</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-label-group">
                                <input type="text" id="operationNameIdForView" class="form-control" disabled>
                                <label for="operationNameIdForView">Əməliyyatın adı</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-label-group">
                                <input type="text" id="dateIdForView" class="form-control" disabled>
                                <label for="dateIdForView">Tarix</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">

                        <div class="col-md-4">
                            <div class="form-label-group">
                                <input type="text" id="objectNameIdForView" class="form-control" disabled>
                                <label for="objectNameIdForView">Obyektin adı</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-label-group">
                                <input type="text" id="descriptionIdForView" class="form-control" disabled>
                                <label for="descriptionIdForView">Açıqlama</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-label-group">
                                <input type="text" id="priceIdForView" class="form-control" disabled>
                                <label for="priceIdForView">Məbləğ</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">

                        <div class="col-md-4">
                            <div class="form-label-group">
                                <input type="text" id="gainIdForView" class="form-control" value="" disabled>
                                <label for="gainIdForView">Mədaxil</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-label-group">
                                <input type="text" id="expenseIdForView" class="form-control" disabled>
                                <label for="expenseIdForView">Məxaric</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-label-group">
                                <input type="text" id="userIdForView" class="form-control" disabled>
                                <label for="userIdForView">İstifadəçi</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <a href="Javascript:void(0)" type="button" id="btnPrintFromView" class="btn btn-secondary" data-dismiss="modal">Çap et</a>
            </div>
        </div>

    </div>
</div>

<!-- delete modal -->
<div class="modal fade " id="deleteModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Silmə əməliyyatı</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <p>Seçilmiş sətir silinsin?</p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="Javascript:void(0)" type="button" onclick="onClickDeleteDocumentById()" class="btn btn-secondary" data-dismiss="modal">OK</a>
            </div>
        </div>
    </div>
</div>

<!-- not row selected modal -->
<div class="modal fade " id="notRowSelectedModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Məlumat</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <p>Sətir seçməmisiniz!</p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="Javascript:void(0);" type="button" class="btn btn-secondary" data-dismiss="modal">OK</a>
            </div>
        </div>
    </div>
</div>