﻿

<div>
    <div class="card-footer small text-muted">
        <div class="row">
            <div class="col-4">
                <input type="text" placeholder="Məbləğ" id="priceIdForFast" readonly onchange="onChangeReceiptFast()" oninput="valid(this)"  class="form-control fontSize price-color" />
            </div>
            <div class="col-4">
                <div class="input-group">
                    <input type="text" placeholder="Endirim" id="discountIdForFast" onchange="onChangeReceiptFast()" oninput="valid(this)" class="form-control fontSize"/>
                    <div class="input-group-prepend btn-border-color" data-toggle="modal" data-target="#discountPercentFast" style="align-items:center; margin-left:2px; padding: 5px; border:1px solid #00000030">
                        <img src="~/Content/images/buttons/less14.png" />
                    </div>
                </div>

            </div>
            <div class="col-4">
                <input type="text" placeholder="Ödənilən məbləğ" id="paidAmountIdForFast" onchange="onChangeReceiptFast()" oninput="valid(this)" class="form-control fontSize paid-color" />
            </div>
        </div>
    </div>
    
    <div class="card-footer small text-muted">
        <label class="fontSize mb-0">Sona borc: </label>
        <label class="fontSize mb-0" id="endDebtInfoForFastGoodsSold"></label>
    </div>

    <div class="card-footer small text-muted">
        <div class="row">
            <div class="col-sm-2 div-btn-min-with">
                <button class="btn btn-border-color btn-block fontSize" onclick="btnSaveForFastGoodsSold()">
                    <img src="~/Content/images/buttons/check10.png" /> Yadda saxla
                </button>
            </div>
            <div class="col-sm-2 div-btn-min-with">
                <button class="btn btn-border-color btn-block fontSize" disabled onclick="printFastGoodsSold()">
                    <img src="~/Content/images/buttons/printer73.png" /> Çap et
                </button>
            </div>
            <div class="col-sm-2 div-btn-min-with">
                <a href="" onclick="return false" ondblclick="javascript:window.location='/home/'" class="btn btn-border-color btn-block fontSize">
                    <img src="~/Content/images/buttons/cross66.png" /> Ləğv et
                </a>
            </div>
        </div>
    </div>
</div>


