﻿
    <div class="col-md-8" id="addedGoodsDivIdForFastGoodsSold">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Əlavə edilən mallar
            </div>
            <div class="card-body">
                <div class="table-responsive" id="addedFastGoodsDivId">
                    <table class="table table-bordered tbl-fontSize" id="dataTableForAddedFastGoodsSold" width="100%" cellspacing="0">
                        <thead>
                            <tr style="text-align:left;">
                                <th>Malın adı</th>
                                <th>Miqdarı</th>
                                <th>Ölçü vahidi</th>
                                <th>Satış qiyməti</th>
                                <th>Məbləğ</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>