﻿
<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-11">
                <i class="fas fa-table"></i>
                Şəxs haqqında məlumatlar
            </div>
        </div>
    </div>

    <div id="aboutGoodsDivId">
        <div class="card-body">
            <div class="form-group">
                <label>Sənəd nömrəsi: </label>
                <label id="docNoForFastGoodsSold" class="font-weight-bold"></label>
            </div>
            <div class="form-group">
                <label>Şəxsin adı: </label>
                <label id="personNameForFastGoodsSold" class="font-weight-bold"></label>
                <label id="personIdForFastGoodsSold" hidden></label>
            </div>
            <div class="form-group">
                <label>Tarix: </label>
                <label id="noteForFastGoodsSold" class="font-weight-bold">@DateTime.Now.ToString("dd.MM.yyyy")</label>
            </div>
            <div class="form-group">
                <label>Əlaqə nömrəsi: </label>
                <label id="phoneForFastGoodsSold" class="font-weight-bold"></label>
            </div>
            <div class="form-group">
                <label>Borc: </label>
                <label id="debtForFastGoodsSold" class="font-weight-bold"></label>
            </div>
        </div>
    </div>

</div>

<div style="width: 50%">
    <button class="btn btn-border-color btn-block" data-toggle="modal" data-target="#selectGoodsForFastGoodsSold">
        Mal əlavə et <img src="~/Content/images/buttons/plus81.png" />
    </button>
</div>

