﻿@model TACIR.Models.WebForm
@{
    ViewBag.Title = "Index";
}

<div class="mt-2" id="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div id="div-about-add-goods-id" style="min-width:300px;" class="col-md-4">
                @Html.Partial("_PersonInfo")
            </div>
            @Html.Partial("_FastAddedGoods")
        </div>
        @Html.Partial("_FastFooterGoods")
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#selectPersonForFastGoodsSold').modal('show');
    });
</script>

<!-- persons -->
<div class="modal fade" id="selectPersonForFastGoodsSold" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Şəxs seç</h4>
                <a href="" type="button" class="close" data-dismiss="modal" onclick="javascript:window.location='/'">&times;</a>

            </div>
            <div class="modal-body">
                <div class="card-body p-0">

                    <div class="table-responsive" id="divSelectPersonIdForFastGoodsSold">
                        <table class="table table-bordered" id="dataTableSelectPersonForFastGoodsSold" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Şəxslər</th>
                                    <th hidden></th>
                                    <th hidden></th>
                                    <th hidden></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var pr in Model.personsList)
                                {
                                    <tr>
                                        <td>@pr.person_name</td>
                                        <td hidden>@pr.id_person</td>
                                        <td hidden>@pr.person_phone</td>
                                        <td hidden>@pr.note</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<!-- goods -->
<div class="modal fade" id="selectGoodsForFastGoodsSold" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Mal seç</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="card-body p-0">

                    <div class="table-responsive" id="divSelectGoodsIdForFastGoodsSold">

                        <table class="table table-bordered" id="dataTableSelectGoodsForFastGoodsSold" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Malın adı</th>
                                    <th></th>
                                    <th hidden>id</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var g in Model.goodsList)
                                {
                                    <tr>
                                        <td>@g.good_name</td>
                                        <td style="text-align:center"> @g.quantity @g.unit_name</td>
                                        <td hidden>@g.id_good</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- discount -->
<div class="modal fade" id="discountPercentFast" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Endirim</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="row">

                        <div class="col-6"><label>Başlanğıc məbləğ: </label></div>
                        <div class=" col-6">
                            <input type="text" id="startDebtForDiscountFast" class="form-control" value="0" disabled onblur="onBlur(this)" onfocus="onFocus(this)">
                        </div>

                        <div class="col-6"><label>Məbləğlə: </label></div>
                        <div class=" col-6 input-group">
                            <input type="text" id="amountForDiscountFast" oninput="valid(this)" onchange="onChangeForDiscountFast(1)" class="form-control" value="0" onblur="onBlur(this)" onfocus="onFocus(this)">
                            <div class="input-group-prepend">
                                <span class="input-group-text">AZN</span>
                            </div>
                        </div>

                        <div class="col-6"><label>Faizlə: </label></div>
                        <div class="col-6 input-group">
                            <input type="text" id="percentForDiscountFast" oninput="valid(this)" onchange="onChangeForDiscountFast(2)" class="form-control" value="0" onblur="onBlur(this)" onfocus="onFocus(this)">
                            <div class="input-group-prepend">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>

                        <div class="col-6"><label>Sona məbləğ: </label></div>
                        <div class=" col-6">
                            <input type="text" id="endDebtForDiscountFast" class="form-control" value="0" disabled onblur="onBlur(this)" onfocus="onFocus(this)">
                        </div>
                        <div class="col-6"><button class="btn btn-success btn-block fontSize" onclick="discountCalcSubmitFast()" data-dismiss="modal"><i class="fas fa-check"></i> Təsdiq et</button></div>
                        <div class="col-6"><button class="btn btn-danger btn-block fontSize" data-dismiss="modal"><i class="fas fa-times"></i> Ləğv et</button></div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- goods quantity -->
<div class="modal fade" id="quantityModelForFastGoodsSold" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Miqdar</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <input hidden type="text" id="goodsIdForFastGoodsSold" />
                            <input hidden type="text" id="goodsQuantityForFastGoodsSold" />
                            <input type="text" id="quantityForFastGoodsSold" class="form-control" value="0" oninput="valid(this)" onblur="onBlur(this)" onfocus="onFocus(this)">
                        </div>
                        <div class="col-12"><button class="btn btn-success btn-block fontSize w-50 float-right" onclick="btnAddFastGoodsClick()"><i class="fas fa-check"></i> Təsdiq et</button></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- success modal -->
<div class="modal fade " id="succssesModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="card-body">
                    <p>Məlumat yadda saxlanildi! <br /><br />Çek çap edilsinmi?</p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void()" type="button" class="btn btn-secondary" onclick="printFastGoodsSold()">Bəli</a>
                <a href="/home/" type="button" class="btn btn-secondary" onclick="stopNavigate()">Xeyr</a>
            </div>
        </div>
    </div>
</div>