﻿.menu-size {
    font-size: 1rem !important;
}

.menu-header {
    margin:10px;

}
.menu-col-resize {
    text-align: center;
    box-shadow: 0px 0px 2px;
}

.menu-bt {
    border-top: groove;
}

.menu-br {
    border-right: groove;
}

.menu-bb {
    border-bottom: groove;
}

.menu-icon-size {
    width: 4vw;
    max-width: 100px !important;
    min-width: 40px;
}

.menu-text {
    font-size: 12px;
}

.price-color {
    background-color: #1faeff !important;
    color: white;
}

.paid-color {
    background-color: #ff4d4d !important;
    color: white;   
}

.home-center-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width:100%;
    max-width:400px;
}

.fontSize {
    font-size: 0.9rem;
}

.tbl-fontSize {
    font-size: 0.85rem;
}

.dateStyle {
    min-width: 120px;
}

.div-btn-min-with {
    min-width: 136px;
}


.login-wrap-min-width {
    max-width: 900px !important;
}

.login-text-size {
    font-size: 3rem !important;
    height: auto !important;
}

.login-text-size-middle {
    font-size: 2rem !important;
    height: auto !important;
}


#interactive.viewport {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
}

    #interactive.viewport > canvas, #interactive.viewport > video {
        max-width: 100%;
        width: 100%;
    }

canvas.drawing, canvas.drawingBuffer {
    position: absolute;
    left: 0;
    top: 0;
}

.modal {
    overflow: auto !important;
}

.btn-border-color {
    border-color: #00000030
}


.floatingmenu_label {
    width: 150px;
    text-align: right;
    padding-right: 10px;
    position: absolute;
    left: -160px;
    color: #454545;
    white-space: nowrap;
}

#btnHome.show {
    -webkit-transform: translateY(-125%);
    transform: translateY(-125%);
}

#btnFastGoodsSold.show {
    -webkit-transform: translateY(-250%);
    transform: translateY(-250%);
}

#btnGoodsSold.show {
    -webkit-transform: translateY(-375%);
    transform: translateY(-375%);
}

#btnGoodsRefund.show {
    -webkit-transform: translateY(-500%);
    transform: translateY(-500%);
}

#btnPayment.show {
    -webkit-transform: translateY(-625%);
    transform: translateY(-625%);
}

#btnDebt.show {
    -webkit-transform: translateY(-750%);
    transform: translateY(-750%);
}

#btnJurnal.show {
    -webkit-transform: translateY(-875%);
    transform: translateY(-875%);
}

#btnReport.show {
    -webkit-transform: translateY(-1000%);
    transform: translateY(-1000%);
}

#btnExit.show {
    -webkit-transform: translateY(-1125%);
    transform: translateY(-1125%);
}


#hamburger {
    z-index: 10;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: 10%;
    right: 5%;
    background-color: #FF5722;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(10, 10, 10, 0.3);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

    #hamburger .icon-bar {
        display: block;
        background-color: #FFFFFF;
        width: 22px;
        height: 2px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

        #hamburger .icon-bar + .icon-bar {
            margin-top: 4px;
        }

.hamburger-nav {
    z-index: 9;
    position: fixed;
    bottom: 10.5%;
    right: 5.5%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #f9f9f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    visibilty: hidden;
    opacity: 0;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.48);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

#hamburger.show {
    box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.48);
}

    #hamburger.show #wrapper {
        -webkit-transition: -webkit-transform 0.4s ease-in-out;
        transition: -webkit-transform 0.4s ease-in-out;
        transition: transform 0.4s ease-in-out;
        transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
        -webkit-transform: rotateZ(90deg);
        transform: rotateZ(90deg);
    }

    #hamburger.show #one {
        -webkit-transform: translateY(6px) rotateZ(45deg) scaleX(0.9);
        transform: translateY(6px) rotateZ(45deg) scaleX(0.9);
    }

    #hamburger.show #two {
        opacity: 0;
    }

    #hamburger.show #thr {
        -webkit-transform: translateY(-6px) rotateZ(-45deg) scaleX(0.9);
        transform: translateY(-6px) rotateZ(-45deg) scaleX(0.9);
    }

.hamburger-nav.show {
    visibility: visible;
    opacity: 1;
}






/*********************************
* GOOGLE MATERIAL ICONS SECTION
**********************************/
/* fallback */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/google_material.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
